/* Home.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 40px;
  }
  
  .step {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    padding-left: 10px;
  }
  
  .code {
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    padding: 2px 4px;
    border-radius: 4px;
  }

  .paragraph {
    color: #000000;
  }

  .link {
    color: rgb(19, 116, 180);
  }
  
  .box {
      background-color: gold; 
      border-radius: 10px; 
      padding: 20px; 
      margin: 20px 0; 
    }